@import url('../../styles/section.less');

.models-grid {
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}

.model {
    border-radius: 3px;
}

.model-item {
    background-color: #333333;
    padding: 0px 8px;
}

.model-selected {
    background-color: #007acc;
    border-color: #007acc;
}
