/* 页面标题栏 */
@import url('theme.less');

.page-title {
    height: @title-height;
    line-height: @title-height;
    padding-left: @content-left;
    font-size: @fs-title;
    color: @text-secondary;
    background-color: @bg-secondary;
    border-bottom-width: 1px;
    border-bottom-color: @divider;
}
